pipeline/Execute Pipeline.json
{
	"name": "Execute Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Copy3",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Execute",
					"value": {
						"value": "@string(activity('Execute Pipeline1').output)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Execute": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-11-29T15:15:51Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}