pipeline/set variable demo.json
{
	"name": "set variable demo",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Output",
					"value": {
						"value": "@string(activity('Lookup1').output)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "Select id from demo",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference",
						"parameters": {
							"Table_name": "Demo",
							"DBName_dataset": "demo"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"Output": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-11-28T06:53:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}