pipeline/Workout4.json
{
	"name": "Workout4",
	"properties": {
		"activities": [
			{
				"name": "Switch1",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@if(greater(activity('Get Metadata1').output.columnCount,3),'True','False')",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "True",
							"activities": [
								{
									"name": "True",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "Op",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"value": "False",
							"activities": [
								{
									"name": "False",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "Op",
										"value": "False"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SqlServerTable5",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount"
					]
				}
			}
		],
		"parameters": {
			"Switch1": {
				"type": "string"
			},
			"Switch2": {
				"type": "string"
			}
		},
		"variables": {
			"Op": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-12-06T14:47:23Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}